[submodule "learnyounode"]
	path = learnyounode
	url = git@github.com:enderandpeter/learnyounode-solutions.git
[submodule "scope-chains-closures"]
	path = scope-chains-closures
	url = git@github.com:enderandpeter/scope-chains-closures-solutions.git
[submodule "expressworkss"]
	path = expressworks
	url = git@github.com:enderandpeter/expressworks-solutions.git
[submodule "stream-adventure"]
	path = stream-adventure
	url = git@github.com:enderandpeter/stream-adventure-solutions.git
[submodule "learnyoureact"]
	path = learnyoureact
	url = git@github.com:enderandpeter/learnyoureact.git
[submodule "thinking-in-react"]
	path = thinking-in-react
	url = git@github.com:enderandpeter/thinking-in-react.git
[submodule "makemehapi"]
	path = makemehapi
	url = https://gitlab.com/enderandpeter-nodeschool/makemehapi.git
